<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSWaterWaveDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AADDC1791F4BB22F000A697E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AADDC1921F4BB22F000A697E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AADDC19D1F4BB22F000A697E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
